doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/index.css")
    body
        header.header_main 
            nav.header_nav
                ul.header_ul
                    li.header_li
                        a(href="/") HOME
                    li.header_li
                        a(href="/admin/add-product") ADD-PRODUCT
                    li.header_li
                        a.active(href="/products") PRODUCT
                    li.header_li
                        a(href="/cart") CART
                    li.header_li
                        a(href="/order") ORDER
                div.user
                    if isAuth 
                        p #{user}
                    else 
                        a(href="/login") Login
        div.main_div
            h2.title Edit Product Form
            form.form(action="/admin/edit-product" , method="POST")
                input(type="hidden", name="_id" , value=product._id) 
                input(type="hidden", name="id" , value=product.id) 
                label(for="title") Title 
                input(type="text", name="title" , placeholder="title" value=product.title, required)
                label(for="imageUrl") Image
                input(type="text", name="imageUrl" , placeholder="image" value=product.imageUrl, required)
                label(for="price") Price 
                input(type="number", name="price" ,id="price",placeholder="price" step="0.01" value=product.price, required)
                label(for="description") Description 
                textarea(name="description", cols="20",id="description", rows="5" placeholder="description", required) #{product.description}
                div.button-ctr
                    button(type="submit") Save 
                    button(type="reset") Reset
        footer.main_footer
            p &copy; 2023 Nilotpal &reg; MIT License
