doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/index.css")
    body
        header.header_main 
            nav.header_nav
                ul.header_ul
                    li.header_li
                        a(href="/") HOME
                    if(isAuth)
                        if isAdmin
                            li.header_li
                                a(href="/admin/add-product") ADD-PRODUCT
                        li.header_li
                            a(href="/products") PRODUCT
                        li.header_li
                            a(href="/cart") CART
                        li.header_li
                            a.active(href="/order") ORDER
                if(isAuth)
                    div.user #{user}
                else 
                    a(href='/login') Login
        div.main_div
            if isAuth
                div.cartContainer
                    if orders.length > 0
                        each product in orders
                            h2.date #{new Date(product.date).toLocaleString()}
                            div.cartProducts
                                img.cartImage(src=product.imageUrl, alt=`${product.title}`,)
                                p.cartTitle #{product.title} 
                                div.cartBtnCtr
                                //- form(action="/product-detail", method="post")
                                //-     input(type="hidden", name="prodId" , value=`${product._id}`)
                                //-     button.cartButton(type="submit") Details
                    else 
                        h2.title No order history found!
                //- each order in orders
                //-     ul 
                //-         li
                //-             h1.title #{order.title}
            else 
                h1.title You must have to login First
        footer.main_footer
            p &copy; 2023 Nilotpal &reg; MIT License