doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/index.css")
    body
        header.header_main 
            nav.header_nav
                ul.header_ul
                    li.header_li
                        a(href="/") HOME
                    li.header_li
                        a(href="/admin/add-product") ADD-PRODUCT
                    li.header_li
                        a.active(href="/products") PRODUCT
                    li.header_li
                        a(href="/cart") CART
                    li.header_li
                        a(href="/order") ORDER
                div.user
                    if isAuth 
                        p #{user}
                    else 
                        a(href="/login") Login
        div.main_div
            div.container
                each product in prod
                    div.productDetail
                        img.dimage(src=product.imageUrl, alt=`${product}`,)
                        p.dtitle #{product.title}
                        p.dtitle #{product.price}
                        p.dtitle #{product.description}
                        form(action="/admin/edit", method="post") 
                            input(type="hidden", name="prodId" , value=product._id)
                            button.cartButton(type="submit") Edit
        footer.main_footer
            p &copy; 2023 Nilotpal &reg; MIT License