doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/index.css")
    body
        header.header_main 
            nav.header_nav
                ul.header_ul
                    li.header_li
                        a(href="/") HOME
                    li.header_li
                        a(href="/admin/add-product") ADD-PRODUCT
                    li.header_li
                        a.active(href="/products") PRODUCT
                    li.header_li
                        a(href="/cart") CART
                    li.header_li
                        a(href="/order") ORDER
        div.main_div
            h1 This is Full Product Post page
            div.container
                each product in prods
                    div.products
                        img.image(src=product.imageUrl, alt=`${product.title}`,)
                        p.title #{product.title}
                        div.btnCtr
                            form(action="/cart/add-cart", method="post") 
                                input(type="hidden", name="prodId" , value=`${product._id}`)
                                button.button(type="submit") Add
                            form(action="/products/delete", method="post")
                                input(type="hidden", name="prodId" , value=`${product._id}`)
                                button.button(type="submit") Delete
                            form(action="/product-detail", method="post")
                                input(type="hidden", name="prodId" , value=`${product._id}`)
                                button.button(type="submit") Details
        footer.main_footer
            p &copy; 2023 Nilotpal &reg; MIT License